{{!--
    Parameters:
    * footerText (text)
--}}

<footer class="gh-footer gh-outer">
    <div class="gh-footer-inner gh-inner">
        <nav class="gh-footer-menu">
            {{navigation type="secondary"}}
        </nav>

        <div class="gh-copyright">
            {{#unless footerText}}
                {{@root.site.title}} &copy; {{date format="YYYY"}}. <a href="https://cartanza.com/" target="_blank" rel="noopener">Powered by Cartanza</a>
            {{else}}
                {{footerText}}
            {{/unless}}
        </div>
    </div>
</footer>